:root {
  --main-margin: 4rem;

  --muted: #808080;
  --a: #0000ee;
  --a-visited: #551a8b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --muted: #888;
    --a: #8197fd;
    --a-visited: #b578f2;
  }

  body {
    background-color: oklch(0.314 0.021 285.75);
    color: oklch(0.96 0 0);
  }
}

@media (width < 30em) {
  :root {
    --main-margin: 1rem;
  }
}

body {
  margin-block: 4rem;
  line-height: 1.75;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  color: inherit;
  text-decoration-color: var(--a);
}

a:hover {
  text-decoration-thickness: 3px;
}

a:visited {
  text-decoration-color: var(--a-visited);
}

h3, h4, p, footer {
  margin-inline: var(--main-margin);
  max-width: 34rem;
}

h3, h4 {
  padding-block-end: 1em;
  border-block-end: 1px solid var(--accent, var(--muted));
  margin-block-end: 2.5rem;
}

p {
  margin-block: 1.75rem;
}

footer {
  margin-block: 4rem;

  padding-block-start: 1rem;
  color: var(--muted);

  time {
    display: block;
  }

  time + div {
    margin-block-start: 4rem;
    display: block;
    font-family: sans-serif;
    font-size: 90%;
    text-align: right;
    a {
      text-decoration: none;
    }
  }
}
