:root {
  --main-margin: 4.5rem;

  --accent: red;
  --muted: #808080;
  --a: #0000ee;
  --a-visited: #551a8b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: pink;
    --muted: #888;
    --a: #8197fd;
    --a-visited: #b578f2;
  }

  body {
    background-color: oklch(0.314 0.021 285.75);
    color: oklch(0.96 0 0);
  }
}

@media (width < 37rem) {
  :root {
    --main-margin: 1rem;
  }
}

@view-transition {
  navigation: auto;
}

body {
  margin-block: 4rem 3rem;
  margin-inline: 0;
  line-height: 1.75;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  color: inherit;
  text-decoration-color: var(--a);
}

a:hover {
  text-decoration-thickness: 3px;
}

a:visited {
  text-decoration-color: var(--a-visited);
}

/* Add an indicator after external links that'll open in a new window. */
a[target="_blank"]::after {
  /* &nearr;, but nicer. SVG adapted from Inter's rendition of "↗". */
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.04261 6.80966L0.377841 6.14489L5.32102 1.19318H1.50284L1.51136 0.272727H6.90625V5.67614H5.97727L5.9858 1.85795L1.04261 6.80966Z' fill='gray'/%3E%3C/svg%3E%0A");
  /* inline => inline-block, so that we can give it a height */
  display: inline-block;
  height: 0.5em;
  padding-inline: 0.2em;
  aspect-ratio: 1;
  line-height: 1;
  vertical-align: text-top;
}

h3, h4, p, ul, ol, footer {
  margin-inline: var(--main-margin);
  max-width: 34rem;
}

h3, h4 {
  padding-block-end: 1em;
  border-block-end: 2px solid var(--accent);
  margin-block-end: 2.5rem;
}

p, ul, ol {
  margin-block: 1.75rem;
}

ul, ol {
  padding-inline: 2rem;
}

@media (width < 37rem) {
  ul, ol {
    padding-inline: 1rem;
  }
}

li {
  margin-block: 1.25rem;
  padding-inline: 0.5rem;
}

mark {
  padding: 0.5ex;
  border-radius: 1px;
  background-color: color(from var(--accent) srgb r g b / 0.05);
  border: 1px solid color(from currentColor srgb r g b / 0.3);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--accent);
  opacity: 0.3;
  margin-block: 3rem;
}

code {
  border: 1px solid var(--accent);
  padding: 0.5ex;
}

blockquote {
  border-inline-start: 1px solid var(--accent);
  margin-inline: var(--main-margin);
  p {
    margin-inline: 1em;
  }
}

footer {
  margin-block: 5rem;

  color: var(--muted);
  font-size: 0.92em;

  time {
    display: block;
    margin-block-end: 1em;
  }

  a {
    opacity: 0.8;
    font-style: italic;
  }
}
