:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0.8lh;
}

a {
  text-decoration: none;
}

h1,
p,
hr,
footer {
  max-width: 470px;
  margin-inline: auto;
}

h1 {
  font-weight: 900;
  opacity: 0.9;
  padding-bottom: 1rem;
  border-bottom: 1px solid currentColor;
}

p,
footer {
  line-height: 1.5;
}

hr {
  border: 0;
  border-bottom: 1px solid currentColor;
  opacity: 0.15;
  margin-block: 1rlh;
}

footer {
  font-size: smaller;
  padding-block: 10px;
  margin-block: 2lh;
}

footer .info {
  opacity: 0.7;
}

footer .nav {
  text-align: right;
  margin-block: 2lh;
}